.amarelo{
    margin-top: 100px;
}

.card{
    margin-top: 40px;
    padding: 2px;
}

.textos{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-weight: 700;
}
.texto-exercicio{
    display: flex;
    font-size: large;
    justify-content: space-around;
    margin-top: 15px;
    font-weight: 900;
}
.centro{
    align-items: center;
}
.card a{
    margin-top: 5px;
}
.azu{
    margin-top: 2vh;
}